@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  font-family: inter;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul,
.right {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: black;
}

button {
  background: #4caf4f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 500;
}
.right-ul-text {
  color: #4caf4f;
}

.hero-section {
  display: flex;
  padding-top: 30px;
  gap: 20px;
  background-color: #f5f7fa;

  .hero-text {
    padding: 120px 50px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-weight: 600;
      font-size: 52px;
      line-height: 76px;
    }
    span {
      color: #4caf4f;
    }
    p {
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      color: #717171;
    }
  }
  .hero-btn {
    padding-top: 16px;
  }

  .hero-image {
    padding: 140px 100px 100px 60px;
  }
}

.community {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .community-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4 {
      font-weight: 600;
      font-size: 32px;
      text-align: center;
      color: #4d4d4d;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }
  }
  .community-branches {
    display: flex;
    gap: 150px;
    padding-right: 144px;
    padding-left: 144px;
  }

  .community-category {
    max-height: 280px;
    height: 100%;
    text-align: center;
    padding: 15px 12px;
    border: solid white 5px;
    background: 14px;

    h4 {
      font-size: 28px;
      font-weight: 600;
      color: #4d4d4d;
      padding-bottom: 6px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #717171;
    }
  }
}

.three-years {
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 110px;
  display: flex;
  gap: 100px;
}
.three-text {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-weight: 600;
    font-size: 30px;
    color: #4d4d4d;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #717171;
  }
}
/* third-button {
  margin-top: 30px;
} */

.counter-section {
  background-color: #f5f7fa;
  color: #4d4d4d;
  display: flex;
  padding: 50px 120px;
  gap: 100px;
}

.counter-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-weight: 600;
    font-size: 36px;
  }
  span {
    color: #4caf4f;

    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    color: #18191f;
  }
}
.counter-one,
.counter-two {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.number {
  display: flex;
}
.actual-num {
  p {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }
}

.footer-explanation {
  padding-top: 48px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 50px;
}
.footer-explanation-text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  button {
    margin-top: 20px;
  }

  h4 {
    font-weight: 600;
    font-size: 36px;

    line-height: 44px;

    color: #4d4d4d;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
  }
}
.feed-back {
  padding: 48px 100px;
  display: flex;
  gap: 50px;
}

.feedback-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #717171;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    vertical-align: middle;
  }

  .author,
  .icon-text {
    color: #4caf4f;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
  }
  #role {
    color: #89939e;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    vertical-align: middle;
  }
}
.icons {
  display: flex;
  gap: 15px;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 48px 70px;
}

.blog-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #717171;
  }
  p {
    color: #717171;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.blog-boxes {
  display: flex;
  gap: 20px;
}

.blog-segment {
  display: flex;
  flex-direction: column;
}

.blog-explan {
  border: solid #f5f7fa 6px;
  border-radius: 13px;
  max-width: 330px;
  padding: 20px;
  width: 100%;
  margin-top: -40px;
  margin-left: 20px;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  color: #717171;

  h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  p {
    color: #4caf4f;

    font-weight: 600;
    font-size: 20px;

    vertical-align: middle;
  }
}
.demo-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding-bottom: 20px;
  background-color: #f5f7fa;
  h1 {
    font-weight: 600;
    font-size: 60px;
    color: #4d4d4d;
  }
}

footer {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #263238;
  color: #f5f7fa;
  gap: 150px;
  padding-top: 30px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 7px;
  h4 {
    padding-bottom: 15px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
  }
  .footer-icons {
    display: flex;
    gap: 12px;
  }
}
.middle-footer {
  display: flex;
  gap: 80px;
}

.page-div {
  display: flex;
  flex-direction: column;
  gap: 7px;

  h4 {
    padding-bottom: 15px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
  }
  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
  }
}
input {
  background-color: rgb(51, 51, 51);
  padding: 7px;
  border: none;
  cursor: pointer;
}
